@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #D9593D, #D34226);
}

main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, rgb(17, 11, 11);
    padding: 10px;
    margin: auto;
   
}

h1{
    color: #891725;
    text-align: center;
    text-shadow: 1px, 2px, 2px;
    flex-box
}

h2{
    color: #FD0023;
}

p{
    text-align: justify;
}